.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #e6e6e6;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align:center;
    box-sizing: border-box;
  }
  .content-text h2 {
    font-size: 36px;
    color: #a17c6b;
    max-width:200px;
    padding-top:10px;
    margin: 0 auto;
  }
  
  .content-text p {
    font-size: 24px;
    color: #a17c6b;
  }
  
  .content-text .content-description {
    font-size: 11px;
    color: #000;
    margin-top: 20px;
    max-width:600px;
  }
  
  .subscribe-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  